*
{
    margin: 0;
    padding: 0;
}
#nav-bar
{
   position: sticky;
   top: 0;
    z-index: 10;
}
.navbar-brand img
{
  height: 10 px;
  padding-left:30 px;
}
.navbar-nav li
{
   padding: 0 10 px;
}
.navbar-nav li a
{
  float:right;
    text-align:left;
}
#navbar ul li a:hover{
    color: #007bff !important;
}
.navbar
{
  background: #fff;
}
.navbar-toggler
{
  border: none! important>
      
}
.nav-link
{
  color:#555 !important;
  font-weight: 600;
    font-size: 16px;
}
#slider
{
  width: 100%;
}
.carousel-caption
{
  top: 50%;
  transform: translateY(-50%);
  bottom: intial!important;
}
.carousel-caption h5
{
  color: #fff;
  font-size: 42 px;
}
#about
{
  padding-top: 50 px;
  padding-bottom: 50px;
  color:#555;
}
#about .btn
{
  margin-top:20 px;
    margin-bottom: 30 px;
}
.about-content
{
   padding-top:20 px; 
}
.skills-bar p
{
  margin-bottom: 6px;font-weight:600;
}
.progress-bar
{
  border-radius: 16 px;
}
.progress
{
  border-radius: 16 px !important;
    margin-bottom: 20px;
}
#Categories
{
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(promo.jpg);
  background-size:cover;
    background-position: center;
    color:#efefef !important;
    background-attachment: fixed;
    padding-top: 50 px;
    padding-bottom: 50 px;
}
#Categories h1
{
  text-align:center;
    color: #efefef !important;
    padding-bottom : 10 px;
}
#Categories h1:: after
{
  content: '';
  background: #efefef;
    display: block;
    height: 3 px;
    width: 170 px;
    margin: 20 px auto 5 px;
}
.Categories
{
  margin-top: 40 px;
}
.icon
{
  font-size: 40 px;
  margin: 20 px auto ;
  padding: 20 px;
   height: 80 px;
   width: 80 px;
}
#Categories p
{
  font-size: 14 px;
   margin-top: 20 px;
   color: #ccc;
}
.Categories .col-md-3:hover
{
  background: #007bff;
  cursor:pointer;
  transition:0.5s;
}
#team
{
  padding-top: 50 px;
   padding-bottom: 50 px;
   color: #555;
}
h1
{
  text-align: center;
   color: #555 !important;
    padding-bottom: 10 px;
}
h1::after
{
  content: '';
  background: #007bff;
  display: block; 
  height:3 px;
  width: 170 px;
  margin: 20 px auto 5 px;
}
.profile-pic
{
  margin-top: 25 px;
}
.profile-pic .img-box
{
  opacity: 1;
  display:block;
  position:relative;
}
.profile-pic .img-box img
{
  filter:grayscale(1);
}
.profile-pic .img-box img:hover
{
  filter: grayscale(0);
   cursor:pointer;
}
.profile-pic h2
{
  font-size: 22 px;
  font-weight: normal;
  margin-top: 15px;
  color: #007bff !important;
}
#team-fa
{
  height: 25px;
  width: 25px;
  color: #007bff !important;
  background: gray;
  padding: 4px;
  border-radius: 50%;
}
.img-box ul
{
  padding: 15 px 0;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity:0;
}
.img-box ul li
{
  padding : 5px;
  display: inline-block;
  
}
.img-box:hover
{
  opacity:1;
}
.img-box ul .img-box ul li
{
  transition:0.5s;
}
#patna
{
 background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(das.jpg);
 background-size: cover;
 background-position: center;
 color: dimgray;
 background-attachment: fixed;
 text-align:center;
 padding: 100px;
 font-family: sans-serif;
 font-size: 38 px;
}
#price
{
  padding: 40px 0;
  background: #efefef;
}
.single-price
{
  margin: 10 px auto;
  display: inline;
  float:left;
  width: 100%;
  background-color: #fff;
  transition: 0.5s;
}
.single-price:hover{
 box-shadow: 0 2 px 20 px #333;
}
.price-head
{
  background-color:#2196f3;
    display:inline;
    float:left;
    padding: 10 px 5 px;
    text-align: center;
    width: 100%;
}
.price-head h2
{
  color: #fff;
  font-size: 30 px;
  font-weight: bold;
  margin-bottom: 5 px;
  padding: 10 px;
  text-transform: uppercase;
}
.price-head p
{
  font-size: 5 px;
  color: #ccc;
  font-weight: bold;
 line-height:30 px;
}
#price span
{
  font-size: 15 px;
}
.price-content
{
  display:inline;
  float :left;
  width:100%;
  padding: 0 15 px;
  
}
.price-content ul li
{
  border-bottom: 1px solid:#efefef;
    padding: 20 px 20 px;
   list-style:none;
}
ul li:last-child
{
  border:none;
}
.fa-check-circle
{
  color:green;
 margin-right:50 px;
  font-size: 20 px;
}
.fa-times-circle
{
  color:red;
  margin-right: 50 px;
  font-size: 20 px;
}
.price-button
{
    display:inline;
    float:left;
    padding:15 px 15 px 15 px;
    text-align:center;
    width:100%;
}
.buy-btn
{
  background-color:#2196f3;
  border-radius: 3 px;
  display: inline-block;
  font-size: 18 px;
  padding: 15 px 50 px;
  transition: 0.5s;
}
.buy-btn:hover
{
  border-color: 1 px solid #fff;
  background-color: #3f51b5;
}
a
{
  text-decoration: none !important;
  color: #fff !important;
}
#contact
{
  background: #efefef;
  padding-top: 40 px;
  padding-bottom: 40 px;
  color:#777;
}
.contact-form
{
  padding:15 px;
}
.form-control
{
  border-radius: 0 !important;
    border: none !important;
}
::placeholder
{
  color:#999 !important;
}
.follow
{
  background: #fff;
  padding: 15px;
  margin: 15 px;
}
.contact-info .fa
{
  margin:10 px;  
  color:#007bff;
  font-weight:bold;
  
}
#footer
{
  background:#333;
  color:#fff;
  padding:12 px;
}
.fa-heart-o
{
  margin: 3px;
   color:red;
}